:root {
    --md-primary-fg-color:        #273646;
    --md-primary-fg-color--light: #4b6786;
    --md-primary-fg-color--dark: #0c1015;
}

[data-md-color-scheme="slate"] .md-typeset a:hover {
    color: #bf79f0 !important;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active:hover {
    color: #bf79f0 !important;
}
